[Unit]
Description=Lotus Worker
After=network-online.target
Requires=network-online.target

[Service]
ExecStart=/root/filecoin/lotus-worker run --address $HOST_IP:23300
PIDFile=/var/run/lotus-worker.pid
EnvironmentFile=/root/filecoin/systemd-worker-env.conf

Restart=always
RestartSec=10

LimitNOFILE=1048576

[Install]
WantedBy=multiuser.target